@charset "UTF-8";

#score {
    position:absolute;
    top:10px;
    left:300px;
}

#manual-earn {
    position:absolute;
    top:10px;
    left:100px;
}

#coffee-shop {
    position:absolute;
    top:30px;
    left:100px;
}

#coffee-shop-value {
    position:absolute;
    top:30px;
    left:400px;
}

#coffee-shop-next-upgrade {
    position:absolute;
    top:30px;
    left:500px;
}


#card-shop {
    position:absolute;
    top:50px;
    left:100px;
}

#card-shop-value {
    position:absolute;
    top:50px;
    left:400px;
}

#card-shop-next-upgrade {
    position:absolute;
    top:50px;
    left:500px;
}

#bowling-alley {
    position:absolute;
    top:70px;
    left:100px;
}

#bowling-alley-value {
    position:absolute;
    top:70px;
    left:400px;
}

#bowling-alley-next-upgrade {
    position:absolute;
    top:70px;
    left:500px;
}






